.textInput {
  color: black;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  width: 100%;
  box-sizing: border-box;
}
