.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--currentLine);
}

.siteTitle {
  background-color: transparent;
  color: var(--purple);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: monospace;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
}

.siteTitle:hover {
  color: var(--foreground);
}

.userProfile {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.signInButton, .signOutButton {
  background-color: var(--purple);
  border: none;
  color: var(--background);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: monospace;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  width: 80px;
}

.signInButton:hover, .signOutButton:hover {
  background-color: var(--foreground);
}
