.textInput {
  background-color: var(--background);
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

.textInput:focus {
  outline: none;
}
