.textInput {
  background-color: var(--currentLine);
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  border: 1px solid;
  width: 97%;
  box-sizing: border-box;
  display: inline-block;
  transition: border-color 0.3s ease;
}

.textInput:focus {
  outline: none;
}
